<h3>Weeks</h3>

<ul class="weeks">
{{#each model as |week|}}
    <li>
    {{#link-to 'week' week}}<span data-week={{week.id}}>Week {{week.id}}</span>{{/link-to}}
    <div class="boxes">
    {{#each week.days as |day|}}
    {{#if day.completed}}
        {{fa-icon "dot-circle-o"}}
    {{else}}
        {{fa-icon "circle-o"}}
    {{/if}}
    {{/each}}

    </div>
    </li>
{{/each}}
</ul>